p {
  font-size: 70px;
  text-align: center;
  font-family: "Fascinate", system-ui;
  padding-bottom: 10px;
	padding-top: 15px;
}

h1 {
  font-size: 27px;
  padding-left: 150px;
}

.img1 {
	width: 90%;
	padding-left: 30px;
}

.text-center {
	font-size: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.img2 {
	width: 80%;
	padding-left: 30px;
}

.img3 {
	width: 90%;
	padding-top: 20px;
}

.img4 {
	width: 100%;
	padding-left: 60px;
}
